.college-card{
    /* height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: solid 3px lightblue; */
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: solid 1px #e4e4e4;
    background: #354F52;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
}