.colleges-page{
    display: flex;
    flex-direction: row;
    /* margin-top: 100px */
}
.collegepage-header{
    text-align: center;
}
.college-grid{
    width:80%
}
.college-search{
    width: 500px;
    height:30px
}