.colleges-page {
  display: flex;
  flex-direction: row;
  background-color: #b6cdd0;
}
.collegepage-header {
  text-align: center;
}
.college-grid {
  width: 80%;
  height: auto;
}
.college-search {
  width: 20vw;
  height: 3.7vh;
  border: none;
  font-size: 1.2rem;
}
