.registration-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-type-prompt {
  font-weight: normal;
  font-size: 2rem;
}

.student-registration,
.registration-survey-page,
.alumn-survey-page,
.event-registration {
  background-color: #f0f0f0;
  width: fit-content;
  height: fit-content;
  margin-top: 5vh;
  padding: 2vh;
  padding-top: 0vh;
  border-radius: 0.5rem;
}

.create_student_header,
.create_parent_header,
.parent_prompt,
.create_alum_header,
.create_admin_header,
.post_new_event_header {
  text-align: center;
}

.email,
.first-name,
.last-name,
.password,
.confirm-password,
.parent-phone,
.zipcode,
.work-email {
  display: flex;
  padding-bottom: 2.2vh;
  justify-content: center;
  justify-items: center;
  text-align: center;
  height: 3vh;
  width: 100%;
}

.user-types {
  display: flex;
  flex-direction: row;
  gap: 1vh;
}
.next-page,
.registration-submit,
.back-to-register-button,
.event-registration-submit,
.login-submit {
  text-decoration: none;
  color: black;
  background-color: transparent;
  padding: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  /* margin-top: 3vh; */
  border-radius: 0.5rem;
  border: 2px solid goldenrod;
}

.next-page:hover {
  background-color: goldenrod;
  color: black;
}

.student,
.parent,
.college-admission-officer,
.college-students-and-alumni {
  color: aquamarine;
}

/* the actual input box */
.email-input,
.first-name-input,
.last-name-input,
.parent-phone-input,
.zipcode-input,
.password-input,
.confirm-password-input,
.sat-input,
.act-input,
.enrollment-input,
.school-type,
.event-dept-input,
.event-name-input,
.event-desc-input,
.event-speaker-input,
.event-max-registrants-input,
.event-date-time-input {
  height: 3.75vh;
  width: 25vw;
  background-color: white;
  border: none;
  color: black;
  border-radius: 0.2rem;
  font-size: 1rem;
}

.event-desc-input {
  height: 10vh;
}
input:focus {
  /* outline: ; */
  /* border-color: blue;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6); */
  outline: 0 none;
}

.confirm-password-toggle,
.password-toggle {
  font-size: 1rem;
  width: 4.5vw;
  background-color: rgb(179, 179, 179);
  height: 3.95vh;
  border-radius: 0.2rem;
  right: 39vw;
  margin-left: 2vh;
}

.login_prompt {
  padding-top: 3vh;
  text-align: center;
}

.password-input,
.confirm-password-input {
  width: 19.45vw;
}

/* .registration-survey-page {
  background-color: #f0f0f0;
  width: 24.7vw;
  height: 48.35vh;
  padding: 5vh;
  margin: 0 auto;
  margin-top: 5vh;
  border-radius: 0.5rem;
} */

.sat-input,
.act-input,
.enrollment-input,
.school-type,
.error {
  padding-bottom: 2vh;
  padding-top: 1vh;
}

.select_minority_bar,
.select_size_bar,
.select_college_bar,
.select_college_admin_bar {
  width: 15vw;
  height: 4vh;
  border-color: rgb(213, 213, 213);
  border-radius: 0.3rem;
  font-size: 1rem;
}

.select_college_bar {
  width: 25vw;
}

.registration-submit,
.login-submit {
  border-color: rgb(0, 176, 0);
}

.back-to-register-button {
  text-decoration: none;
  color: black;
  background-color: transparent;
  padding: 1vh;
  border-color: black;
  margin-left: 0;
}

.sat-input,
.act-input,
.enrollment-input,
.school-type {
  background-color: transparent;
  height: 6.5vh;
  width: 25.35vw;
}

.yes_button,
.no_button {
  border: 1.5px solid rgb(96, 128, 255);
  border-radius: 0.4rem;
  height: 3vh;
  width: 5vw;
  color: black;
}

.no_button {
  margin-left: 2vw;
}

.yes_no_container {
  margin-left: 2vw;
}

.parent_prompt {
  width: 25vw;
  margin: 0 auto;
  padding-bottom: 2vh;
}

.select_college_admin_bar {
  display: block;
  margin: 0 auto;
  width: 25.5vw;
}

.p_select_college {
  padding-left: 2.5vw;
  margin: 0;
  padding-bottom: 1vh;
}
