.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-types > button {
  background-color: #ebf2e5;

  border-radius: 0.7rem;
  font-size: 18px;
  border: none;
  color: #000000;
  padding: 0.5vw;
  /* border: 2px solid #84A98C; */
}
.user-types > button:hover {
  background-color: goldenrod;
  color: white;
}

.login-form > .demo-button {
  margin-top: 7vh;
}

.student-registration > .login-submit {
  position: sticky;
  margin-left: 20vw;
}
.password-toggle,
.confirm-password-toggle {
  background-color: #ebf2e5;
  border-radius: 0.7rem;
  font-size: 1rem;
  border: none;
  color: white;
  padding: 0.5vw;
}
.password-toggle:hover,
.confirm-password-toggle:hover {
  background-color: goldenrod;
  color: white;
}

.login-submit {
  border-color: rgb(0, 176, 0);
}
.login_header {
  text-align: center;
}

.register_prompt {
  padding-top: 3vh;
  text-align: center;
}

.register-button {
  background-color: #ebf2e5;
  border-radius: 0.7rem;
  font-size: 18px;
  border: none;
  color: #000000;
  padding: 10px;
  /* border: 2px solid #84A98C; */
}
.register-button:hover {
  background-color: goldenrod;
  color: white;
}
.demo-button {
  background-color: rgb(0, 176, 0);
  border-radius: 0.4rem;
  font-size: 1.1rem;
  border: none;
  color: rgb(255, 255, 255);
  padding: 0.5vh;
  height: fit-content;
  margin-top: 1vh;
}

.demo-button:hover {
  background-color: goldenrod;
  color: white;
}
