.filter-sidebar {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 19vw;
  background: #354f52;
  color: white;
  align-items: center;
  min-height: 100vh;
}
.sat-slider {
  color: white;
}
.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: 20vh;
  animation: fadeInRight 1.3s ease-in-out;
  font-size: larger;
}

.user-info {
  margin-bottom: 3vh;
  /* position: fixed; */
  font-size: 1.3rem;
}

.price-filter-container,
.act-score-container,
.act-score-container,
.sat-score-container,
.enrollment-container {
  margin-top: 3vh;
}

.enrollment-container {
  text-align: center;
}

/* Animation */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.price-slider {
  height: 2vh;
}
