.filter-sidebar{
    display: flex;
    flex-direction: column;
    height: 3000px;
    width: 300px;
    background: #354F52;
    color: white;
    align-items: center;
    border-radius: 1%;
}
.sat-slider{
    color: white
}
.filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 20%;
    animation: fadeInRight 1.3s ease-in-out;
    font-family: 'GFS Didot, serif';
    font-size: larger;

}

.user-info{ 
    margin-bottom: 5%;
    /* position: fixed; */
    font-size: 110%;
 }











/* Animation */
@keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }