.parent-logged-in-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.parent-college-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.average-earnings-bar-chart{
    margin-left: 40px;
}
.parent-info{
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: 380px;
}
.student-college-name{
    font-size: 35px;
}

.parents-parent{
    display: flex;
    flex-direction: column;
}
.parent-please-log-in{
    display:flex;
    flex-direction:column;
}
