.wholeNavbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* position: relative; */
  /* padding: 10px; */
  /* bottom: 175px; */
  top: 0;
  background-color: #354F52;
  width: 100%;
  padding: 10px 1rem;
  height: 7vh;
}

.logo {
  padding-right: 80vh;
  color: #213547;
  font-size: 2rem;
}

.navItems {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  padding-right: 10vh;
}

.navItems li {
  padding-left: 35px;
}
