.wholeNavbar {
  display: flex;
  align-items: center;
  /* #354F52; */
  background-color: whitesmoke;
  width: 100vw;

  height: 7vh;
  flex-direction: row;
  color: #213547;
}

.logo {
  color: #213547;
  font-size: 4rem;
  font-weight: normal;
  font-family: 'GFS Didot', serif;
  position: absolute;
  left: 3vw;
}

.navItems {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  /* padding-right: 5vh; */
  color: #213547;
  align-items: center;
  position: absolute;
  right: 10vw;
}

.navItems li {
  padding-left: 4vw;
  font-size: 1.4rem;
}

.navButton {
  background-color: transparent;
  font-size: 20px;
  border: none;
  color: #213547;

}

.navButton:hover{
  background-color: rgb(209, 209, 209);
  transition: all .4s ease;
}



