.wholeNavbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* position: relative; */
  /* padding: 10px; */
  /* bottom: 175px; */
  top: 0;
  /* #354F52; */
  background-color: whitesmoke;
  width: 100%;
  padding: 10px 0rem;
  height: 7vh;
  flex-direction: row;
}

.logo {
  padding-right: 70vh;
  color: #213547;
  font-size: 2rem;
  font-weight: normal;
}

.navItems {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  padding-right: 5vh;
}

.navItems li {
  padding-left: 35px;
}

.navButton {
  background-color: transparent;
  font-size: 20px;
  border: none;

}

.navButton:hover{
  background-color: rgb(209, 209, 209);
}
