/* General styles */

.biography {
  height: 95vh;
  background-color: whitesmoke;
  overflow: hidden;
}

.bio_header, .creators_header {
  margin: 0;
  width: 60%;
  padding-left: 10vh;
  padding-top: 5vh;
  font-size: 5rem;
  font-weight: normal;
  padding-bottom: 2vh;
}

.bio_spliter, .about_spliter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  background-color: #dedede;

  margin: 0px auto;
  max-width: 70vw;
  border-radius: 5px;
}

.leftside {
  overflow: visible;
  /* background-color: aliceblue; */
}

.left_image {
  border-radius: 35px;
  width: 35vw;
  padding: 5%;

}

.leftside,
.rightside {
  width: 40%;
  height: fit-content;
  margin: auto 0px;
}

.rightside {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  padding: 5%;
}

.rightside_text {
  flex-grow: 20vh;
}

.hellotxt {
  color: #dde7d6;
  position: absolute;
  font-size: 8rem;
  z-index: 1;
  margin-top: 15%;
  margin-left: 80px;
  margin-right: 600px;
}

/* Hero section styles */

.hero-section {
  background-color: black;
  color: black; /* White text */
  position: relative;
  animation: scaleIn 0.5s ease-out;
  height: 100vh;
}

.hero-heading {
  font-size: 5rem;
  animation: fadeInRight 1s ease-out;
  margin: 0px;
  text-align: left;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-subheading {
  font-size: 1.5rem;
  animation: fadeInRight 1.5s ease-out;
  font-weight: normal;
  width: 65vw;
}

.get-started-button {
  /* background-color: #1f4ca5; Darker green */
  background-color: #ebf2e5;
  width: 140px;
  height: 60px;
  border-radius: 0.7rem;
  animation: fadeInRight 2s ease-out;
  font-size: 18px;
  border: none;
  color: #000000;
  position: absolute;
}

.get-started-button:hover {
  background-color: goldenrod;
  color: white;
  transition: all 0.4s ease;
}

.additional-section {
  background-color: black; /* Light gray background */
  padding: 0px 0;
  text-align: center;
  overflow: hidden; /* Hide the overflow to prevent scrolling */
  height: 96vh;
}

.college-list {
  display: flex;
  width: 120%; /* Set the width to accommodate double the number of colleges */
  /* white-space: nowrap; */
  margin: 10 auto; /* Center the container horizontally */
  /* animation: slideLoop 80s linear infinite; */
  animation: scaleIn 0.5s ease-out;
}

.college-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: opacity 1s ease-in-out;
}

.college-name {
  font-family: "Arial", sans-serif; /* Replace with the desired font family */
  position: absolute;
  right: 60px;
  bottom: 0px;
  z-index: 20;
  font-size: 25px;
  color: #ababab;
}

.college-image {
  min-width: 100vw; /* Adjust the width as needed */
  min-height: 100vh;
}

.footer {
  height: 20vh;
  background-color: #cad2c5;
}

.creators_button {
  background-color: #0d669e;
  font-size: 1.5rem;
  color: whitesmoke;
  margin-top: 5vh;
  padding: 0.5vh;
  border-radius: 0.25rem;
}

/* Animation keyframes... */

@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideLoop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(
      -500%,
      0,
      0
    ); /* Move the container by its full width */
  }
}

/* Animation keyframes */

@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(calc(-100% - 30px)); /* Adjusting for margin */
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
