.colleges {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    justify-content: space-around;
    /* margin-right: 10%; */
    /* margin-left: -4%; */
    animation: fadeInRight 2s ease-in-out;
}

.personalizedGridHeader{
    margin-top: 6%;
    font-family: 'GFS Didot, serif';
    font-weight: bold;
    display: flex;
    justify-content: center;
    animation: fadeInRight 1.3s ease-in-out;
}


.searchThings{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0% 3% 0%;
    padding-left: 4%;
    animation: fadeInRight 1.5s ease-in-out;
}

.searchLabel{
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'GFS Didot, serif';
    font-size: 30px;
    margin-right: 2%;
}

.college-search{
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'GFS Didot, serif';
    font-size: large;
}






.seeMore{
    display: flex;
    margin-right: 11.3%;
}

.previousColleges {
    display: flex;
    margin-left: 11.3%;
}




.seeMore, .previousColleges{
    animation: fadeInRight 2.5s ease-in-out;
    /*background-color: #1f4ca5;  Darker blue */
    background-color:  #354F52;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    box-shadow: 0 4px 6px; /* Add a subtle box shadow */
    margin-top: 5%;
    
      


    }
    

.seeMore:hover, .previousColleges:hover {
      background-color: #213547; /* Darken the button color on hover
      /* background-color: rgba(92, 88, 7, 0.435); */
      transform: translateY(-2px); /* Add a slight vertical lift on hover */
    }




.paginationButtons {
    display: flex;
    justify-content: space-between;
}


.disabled{
    opacity: 0.3; /* Set the opacity to make the button look dimmed */
    cursor: not-allowed; /* Set the cursor to not-allowed to indicate it's disabled */
}








.content{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}







/* Animation */
@keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
