.colleges {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    justify-content: center;
    /* margin-right: 10%; */
    /* margin-left: -4%; */
    animation: fadeInRight 2s ease-in-out;
}

.personalizedGridHeader{
    margin-top: 6%;
    font-family: 'GFS Didot, serif';
    font-weight: bold;
    display: flex;
    justify-content: center;
    animation: fadeInRight 1.3s ease-in-out;
}


.searchThings{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0% 3% 0%;
    padding-left: 4%;
    animation: fadeInRight 1.5s ease-in-out;
}

.searchLabel{
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'GFS Didot, serif';
    font-size: 30px;
    margin-right: 2%;
}

.college-search{
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'GFS Didot, serif';
    font-size: large;
}



.seeMore{
    animation: fadeInRight 2.5s ease-in-out;
}

.content{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}







/* Animation */
@keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
