.college-info-page{
  padding-bottom: 2vh;
}
.all-college-info{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}
.like-img {
  height: 80px;
  width: 80px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5f3d66;
  color: white;
}
.college-statistics{
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.like-img:hover {
  background: radial-gradient(pink, transparent);
}
.standardized-tests{
  display:flex;
  flex-direction:row;
  margin-left: 6vh;
  align-items: center;

}





.cost-breakdown {
  padding: 10px;
}
.student-img {
  /* height: 5%; */
  width: 15%;
}
.student-faculty-ratio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.students-and-faculty-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.student-imgs-grid {
  display: flex;
  width: 50vh;
  flex-wrap: wrap;
  justify-content: space-around;
}
.alumReviews{
  display:flex;
  flex-direction:column;
  align-items:center
}
.college-review {
  padding: 2%;
  width: 30%;
  background: #213547;
  margin-top: 4%;
  color: white;
  border-radius: 0.5em;
}
.college-review:hover{
  transition: transform 0.3s ease;
  transform: scale(1.2);
}
.star-img {
  width: 4vh;
}
.rating {
  display: flex;
  align-items: center;
}

