.college-info-page {
  padding-bottom: 2vh;
}
.all-college-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.like-img {
  height: 80px;
  width: 80px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #5f3d66; */
  background: #354f52;
  color: white;
}
.college-statistics {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.like-img:hover {
  background: radial-gradient(pink, transparent);
  border-radius:6vh;
}
.standardized-tests {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 15%; */
  animation: fadeInLeft 7s ease-in-out;
}

.guyInLibraryDiv {
  display: flex;
  justify-content: center;
}
.guyInLibrary {
  /* overflow-clip-margin: content-box; */
  /* overflow: clip; *
  /* width: fit-content;  */
  display: flex;
  width: 1791px;
  height: 630px;
  /* height: 28.125rem; */
  justify-content: center;
  /* border-radius: 3%; */
  border-bottom-left-radius: 1%;
  border-bottom-right-radius: 1%;
}

.college-minority-info {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  font-size: 2.2vw;
}

.minority-and-events {
  margin-bottom: 5%;
}

.events-and-university {
  display: flex;
  justify-content: space-between;
}

.see-events {
  margin-left: 10px;
  font-size: larger;
  color: #213547;
  font-size: 1.5em;
  background: lightyellow;
  max-height: 7vh;
  border-radius: 0.25rem;
  padding: 1vh;
}
.upcoming-events {
  color: #213547;
}
.college-site-link {
  font-size: 1.5em;
  color: #213547;
  background: lightyellow;
  max-height: 7vh;
  border-radius: 0.25rem;
  padding: 1vh;
}
.college-site-link:hover, .see-events:hover, .admittedImg:hover, .studyingImg:hover, .diverseImgForPie:hover, .costImg:hover{
  transition: transform 0.3s ease;
  transform: scale(1.2);
}
.admissionEverything {
  margin-bottom: 5%;
  animation: fadeInRight 4s ease-in-out;
}

.admissionRateHeading {
  display: flex;
  justify-content: center;
}

.admissionRate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.college-info-break{
  background: darkcyan;
  height: 2vh;
  border: none;
  width: 120%;
  width: 101.3%;
  margin-left: -2vh;
}

.admittedImg {
  display: flex;
  width: 70%;
  height: 80%;
}

.demographics {
  animation: fadeInRight 9s ease-in-out;
}

.studyingImg {
  /* margin-right: 5%; */
  display: flex;
  width: 95%;
}

.student-demographics-pie-chart {
  animation: fadeInRight 9s ease-in-out;
  display: flex;
  flex-direction: row;
  /* margin-bottom: 15%; */
  justify-content: center;
}

.diverseImgForPie {
  border-radius: 10%;

  /* background-color: antiquewhite; */
}

.costOverall {
  /* margin-top: 15%; */
  animation: fadeInRight 13s ease-in-out;
}

.costHeading {
  display: flex;
  justify-content: center;
  /* font-family: 'GFS Didot, serif'; */
}

.cost-breakdown {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
}

.costImg {
  display: flex;
  width: 70%;
  height: 80%;
  margin-right: 5%;
}

.student-img {
  /* height: 5%; */
  width: 15%;
}
.student-faculty-ratio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInLeft 11s ease-in-out;
}
.students-and-faculty-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.student-imgs-grid {
  display: flex;
  width: 50vh;
  flex-wrap: wrap;
  justify-content: space-around;
}
.alumReviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.review-header{
  margin-bottom:-0.5vh
}
.college-review {
  display: flex;
  flex-direction: column;
  padding: 4vh;
  width: 50vw;
  background: #213547;
  margin-top: 4%;
  color: white;
  border-radius: 0.5em;
  margin: 1vw;
}
.college-review:hover {
  transition: transform 0.3s ease;
  transform: scale(1.04);
}
.star-img {
  width: 4vh;
}
.rating {
  display: flex;
  align-items: center;
}
.rating-info{
  font-size: 2.5vh;
}
.add-more-reviews-button{
  background-color: #213547;
  padding: 1vw;
  border-radius: 0.5rem;
  color:white;
  margin-bottom:2vh;
}
.add-more-reviews-button:hover{
  transition: transform 0.3s ease;
  transform: scale(1.15);
}
.rating-desc{
  padding-top: 4vh;
  font-size: 2vh;
}

/* Animation */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
